@charset "UTF-8";
/* variables */
/* functions */
/* mixins */
/* 포커스라인 */
/* vs */
/* background-default */
/* flex-items-center */
/* position-center */
/* 검색필드창 */
/* 비밀번호입력창 */
/* button */
/* 스크롤 */
/* 리모콘 키가이드 */
/* 툴팁 */
/* 별점 별 */
/* ic-tag */
/* select-box */
/* url */
/* 로고 */
.hellomarket-bi {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 381px;
  height: 92px;
  padding-top: 29px;
  text-align: center;
  background-color: #14151e;
}

.hellomarket-bi img {
  width: 200px;
  height: 50px;
}

/* 카테고리 */
.category {
  position: absolute;
  z-index: 1;
  width: 381px;
  height: 100%;
  padding-top: 92px;
  background-color: #161924;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.08);
}

.category .quick-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px 0 19px;
}

.category .quick-menu h3 {
  margin-top: auto;
  text-align: center;
  opacity: 0.4;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 1.7rem;
  color: #eee;
}

.category .quick-menu li {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 102px;
  margin-left: 12px;
  padding: 15px;
  border-radius: 13px;
}

.category .quick-menu li::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 39px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category .quick-menu li::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 73px;
  margin-left: -6px;
  background-color: rgba(255, 255, 255, 0.1);
}

.category .quick-menu li:first-child {
  margin-left: 0;
}

.category .quick-menu li:first-child::after {
  content: none;
}

.category .quick-menu li.selected h3 {
  opacity: 1;
  color: #fd8a2c;
}

.category .quick-menu li.selected.mymenu::before {
  background-image: url("../images/home/ic-home-my-selected.png");
}

.category .quick-menu .schedule::before {
  background-size: 37px 39px;
  background-image: url("../images/home/ic-home-schedule.png");
}

.category .quick-menu .delivery::before {
  background-size: 50px 33px;
  background-image: url("../images/home/ic-home-delivery.png");
}

.category .quick-menu .mymenu::before {
  background-size: 36px 36px;
  background-image: url("../images/home/ic-home-my.png");
}

.category .quick-menu.active .focus {
  background-color: #e50914;
}

.category .quick-menu.active .focus h3 {
  opacity: 1;
  color: #fff;
}

.category .quick-menu.active .focus.schedule::before {
  background-image: url("../images/home/ic-home-schedule-focus.png");
}

.category .quick-menu.active .focus.delivery::before {
  background-image: url("../images/home/ic-home-delivery-focus.png");
}

.category .quick-menu.active .focus.mymenu::before {
  background-image: url("../images/home/ic-home-my-focus.png");
}

.category .category-banner .banner-image {
  position: relative;
  width: 100%;
  height: 222px;
}

.category .category-banner .banner-image::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/common/img-category-banner-default.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category .category-banner.active .focus::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9px;
  box-shadow: 0 0 0 9px #e50914;
  border-radius: 0;
  box-shadow: inset 0 0 0 6px #e50914;
}

.category .gnb {
  overflow: hidden;
  height: 100%;
}

.category .gnb ul {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;
}

.category .gnb ul li {
  position: relative;
  height: 36px;
  line-height: 36px;
  margin-bottom: 67px;
}

.category .gnb ul li h3 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  font-size: 34px;
  color: #e6e6e6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category .gnb ul li.selected h3 {
  color: #fd8a2c;
}

.category .gnb .gnb-main {
  height: 654px;
  padding-top: 36px;
}

.category .gnb .gnb-sub {
  position: absolute;
  left: 381px;
  top: 0;
  z-index: 2;
  width: 398px;
  height: 100%;
  padding-top: 131px;
}

.category .gnb .gnb-sub::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/common/bg-gnb-depth.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category .gnb .gnb-sub::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 1539px;
  height: 100%;
  background-color: rgba(20, 21, 30, 0.6);
}

.category .gnb .active .focus h3 {
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  color: #e50914;
}

.category .gnb .active .focus::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: auto;
  bottom: -25px;
  z-index: 1;
  width: 100%;
  height: 7px;
  background-color: #e50914;
}

.vod-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.vod-bg .clip {
  width: 100%;
  height: 100%;
  background-color: #14151e;
}

.vod-bg .clip.on {
  clip-path: polygon(0 0, 0% 100%, 80px 100%, 80px 98px, 1352px 98px, 1352px 813px, 80px 813px, 80px 100%, 100% 100%, 100% 0);
}

.vod-bg .clip-cover {
  position: absolute;
  top: 98px;
  left: 80px;
  width: 1272px;
  height: 715px;
  background-image: url("../images/home/img-home-vod-clip.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 홈 */
.home .contents-wrap {
  width: 100%;
  height: 100%;
  padding-left: 381px;
}

.home .contents-wrap.cover-right::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  width: 132px;
  height: 993px;
  opacity: 0.8;
  background: linear-gradient(to right, rgba(17, 20, 36, 0) 0%, #101323 91%);
}

.home .contents-wrap .contents {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 80px;
}

.home .my-contents {
  padding-left: 381px;
}

.home .my-contents .list-contents-wrap {
  width: calc(px(1394) + 9px * 2);
}

.home .my-contents .list-contents-wrap .my-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 81px;
}

.home .my-contents .list-contents-wrap .my-menu li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  height: 255px;
  margin: 0 37px 37px 0;
  padding: 30px 45px;
  border-radius: 15px;
  color: #a9a9a9;
  background-color: #2a2b3d;
}

.home .my-contents .list-contents-wrap .my-menu li:nth-child(3n) {
  margin-right: 0;
}

.home .my-contents .list-contents-wrap .my-menu li h4 {
  display: flex;
  align-items: center;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 4.2rem;
}

.home .my-contents .list-contents-wrap .my-menu li h4::after {
  display: inline-block;
  content: '';
  width: 14px;
  height: 25px;
  margin-left: 10px;
  background-image: url("../images/home/ic-my-arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home .my-contents .list-contents-wrap .my-menu li > div {
  display: flex;
  align-items: center;
}

.home .my-contents .list-contents-wrap .my-menu li > div p {
  font-size: 3rem;
}

.home .my-contents .list-contents-wrap .my-menu li > div span {
  margin-left: auto;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 3.9rem;
}

.home .my-contents .list-contents-wrap .my-menu li > div span em {
  margin-right: 4px;
  line-height: 1;
  vertical-align: sub;
  font-size: 6.8rem;
  color: #eee;
}

.home .my-contents .list-contents-wrap .my-menu.active .focus::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9px;
  box-shadow: 0 0 0 9px #e50914;
  border-radius: 15px;
}

.home .my-contents .list-contents-wrap .my-menu.active .focus h4 {
  color: #eee;
}

.home .my-contents .list-contents-wrap .my-menu.active .focus h4::after {
  background-image: url("../images/home/ic-my-arrow-focus.png");
}

.home .my-contents .list-contents-wrap .my-menu.active .focus p {
  color: #fff;
}

.home .my-contents .list-contents-wrap .my-menu.active .focus span, .home .my-contents .list-contents-wrap .my-menu.active .focus em {
  color: #fd8a2c;
}

.home .total-count {
  display: inline-block;
  min-width: 90px;
  height: 45px;
  line-height: 45px;
  padding: 0 22px;
  border-radius: 23px;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.64);
  background-color: #242639;
}

.home .total-count .count {
  display: inline-block;
  min-width: 13px;
  text-align: right;
}

.home .product-list {
  overflow: hidden;
  padding: 9px;
  margin-left: -9px;
}

.home .product-list ul {
  display: flex;
}

.home .product-list.active .focus .product-vod::after, .home .product-list.active .focus .product-banner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9px;
  box-shadow: 0 0 0 9px #e50914;
}

.home .home-type {
  padding-top: 89px;
}

.home .home-type .total-count {
  position: absolute;
  top: 35px;
  right: 192px;
}

.home .home-type .product-list li {
  margin-right: 75px;
}

.home .home-type .product-vod {
  position: relative;
  width: 1272px;
  height: 715px;
  margin-bottom: 26px;
  border-radius: 9px;
  background-image: url("../images/common/img-video-default.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home .home-type .product-banner {
  position: relative;
  width: 1272px;
  height: 949px;
}

.home .home-type .product-banner::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  background-image: url("../images/common/img-banner-default.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home .home-type .product-banner img {
  border-radius: 9px;
}

.home .home-type .button-area {
  position: absolute;
  bottom: 94px;
  right: 33px;
}

.home .home-type .ic-arrow {
  position: absolute;
  top: 440px;
  display: none;
  width: 31px;
  height: 51px;
  font-size: 0;
  background-image: url("../images/home/ic-home-arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home .home-type .ic-arrow.next {
  right: 140px;
}

.home .home-type .ic-arrow.prev {
  left: 33px;
  transform: rotate(-180deg);
}

.home .home-type .ic-arrow.on {
  display: block;
}

.home .list-type {
  padding-top: 148px;
  background-color: #14151e;
}

.home .list-type .contents-header {
  display: flex;
  justify-content: space-between;
  padding-right: 59px;
  margin-bottom: 11px;
}

.home .list-type .contents-header > div {
  display: flex;
  align-items: center;
}

.home .list-type .contents-header > div:not(.title-area) {
  margin-left: auto;
}

.home .list-type .contents-header .title-area h3 {
  max-width: 441px;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 3.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home .list-type .contents-header .title-area .sub-title {
  max-width: 584px;
  margin-left: 15px;
  font-size: 3.2rem;
  color: #ffce22;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home .list-type .home-banner {
  display: flex;
  align-items: center;
  height: 267px;
  margin-bottom: 15px;
}

.home .list-type .home-banner .banner-image {
  position: relative;
  width: 1417px;
  height: 249px;
}

.home .list-type .home-banner .banner-image::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/common/img-wide-banner-default.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home .list-type .home-banner .banner-image img {
  border-radius: 9px;
}

.home .list-type .home-banner.active .banner-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9px;
  box-shadow: 0 0 0 9px #e50914;
}

.home .list-type .home-banner + .product-list {
  height: 549px;
}

.home .list-type .product-list {
  height: 831px;
}

.home .list-type .product-list ul {
  flex-wrap: wrap;
}

.home .list-type .product-list ul li {
  margin-right: 37px;
  margin-bottom: 33px;
}

.home .list-type .product-list ul li:nth-child(2n) {
  margin-right: 0;
}

.home .list-type .product-list.active .focus .product::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9px;
  box-shadow: 0 0 0 9px #e50914;
}

.home .list-type .product {
  width: 690px;
  height: 249px;
  padding: 0 19px;
}

.home .list-type .product .product-image {
  width: 211px;
  height: 211px;
  margin-right: 21px;
}

.home .list-type .product .product-info {
  width: 408px;
}

.home .list-type .product .product-info > p {
  width: 377px;
  margin-bottom: 12px;
  font-size: 2.2rem;
}

.home .list-type .product .product-info h4 {
  width: 100%;
  height: 89px;
  margin-bottom: 5px;
  font-size: 3.3rem;
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  /* autoprefixer: ignore next */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.home .list-type .product .product-info .price-info .discount {
  font-size: 2.7rem;
}

.home .list-type .product .product-info .price-info .normal-price {
  font-size: 2.2rem;
}

.home .list-type .product .product-info .price-info .sale-price {
  font-size: 2.8rem;
}

.home .list-type .product .product-info .price-info .sale-price span {
  font-size: 3.8rem;
}

.home .list-type .product .product-info .product-state {
  position: unset;
  opacity: 1;
  font-size: 3.8rem;
  color: #999;
}

.home .list-type .product.rental .price-info {
  flex-wrap: wrap;
}

.home .list-type .product.rental .price-info .discount {
  width: 100%;
  font-size: 1.8rem;
}

.home .list-type .product.rental .price-info .sale-price {
  line-height: 1;
}

.home .guide-info {
  position: absolute;
  right: 64px;
  bottom: 106px;
  opacity: 0.8;
  text-align: right;
  color: #d6d6d6;
}

.home .guide-info .guide-number {
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 3rem;
}

.home .guide-info .guide-number em {
  color: #ffce22;
}

.home .guide-info p {
  margin-top: 5px;
  font-size: 2.5rem;
}

/* 플레이어 */
.player .product-vod {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/common/img-video-default.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.player .vod-player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.player .vod-player .player-mode i {
  display: none;
  width: 180px;
  height: 180px;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.player .vod-player .player-mode i.pause {
  background-image: url("../images/home/ic-player-pause.png");
}

.player .vod-player .player-mode i.play {
  background-image: url("../images/home/ic-player-play.png");
}

.player .vod-player .player-mode i.stop {
  background-image: url("../images/home/ic-player-stop.png");
}

.player .vod-player .player-mode i.rewind {
  width: 245px;
  height: 150px;
  background-image: url("../images/home/ic-player-rewind.png");
}

.player .vod-player .player-mode i.rewind4 {
  width: 245px;
  height: 150px;
  background-image: url("../images/home/ic-player-rewind-4.png");
}

.player .vod-player .player-mode i.rewind8 {
  width: 245px;
  height: 150px;
  background-image: url("../images/home/ic-player-rewind-8.png");
}

.player .vod-player .player-mode i.rewind16 {
  width: 262px;
  height: 150px;
  background-image: url("../images/home/ic-player-rewind-16.png");
}

.player .vod-player .player-mode i.rewind32 {
  width: 267px;
  height: 150px;
  background-image: url("../images/home/ic-player-rewind-32.png");
}

.player .vod-player .player-mode i.rewind64 {
  width: 269px;
  height: 150px;
  background-image: url("../images/home/ic-player-rewind-64.png");
}

.player .vod-player .player-mode i.fast-forward {
  width: 203px;
  height: 150px;
  background-image: url("../images/home/ic-player-fast-forward.png");
}

.player .vod-player .player-mode i.fast-forward4 {
  width: 203px;
  height: 150px;
  background-image: url("../images/home/ic-player-fast-forward-4.png");
}

.player .vod-player .player-mode i.fast-forward8 {
  width: 203px;
  height: 150px;
  background-image: url("../images/home/ic-player-fast-forward-8.png");
}

.player .vod-player .player-mode i.fast-forward16 {
  width: 220px;
  height: 150px;
  background-image: url("../images/home/ic-player-fast-forward-16.png");
}

.player .vod-player .player-mode i.fast-forward32 {
  width: 225px;
  height: 150px;
  background-image: url("../images/home/ic-player-fast-forward-32.png");
}

.player .vod-player .player-mode i.fast-forward64 {
  width: 227px;
  height: 150px;
  background-image: url("../images/home/ic-player-fast-forward-64.png");
}

.player .vod-player .player-mode.active .focus {
  display: block;
}

.player .vod-player .player-progress {
  position: absolute;
  left: 80px;
  bottom: 90px;
  display: flex;
  align-items: center;
}

.player .vod-player .player-progress .time {
  font-size: 2.8rem;
}

.player .vod-player .player-progress .bar {
  position: relative;
  width: 972px;
  height: 6px;
  margin: 0 30px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

.player .vod-player .player-progress .bar span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 3px;
  background-color: #e50914;
}

.player .contents {
  display: flex;
  align-items: center;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 92px;
}

.player .contents::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 277px;
  opacity: 0.85;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
}

.player .mobile-qrcode {
  position: absolute;
  right: 79px;
  bottom: 320px;
}

.player .mobile-qrcode p {
  width: 187px;
  height: 88px;
  padding-top: 8px;
  border-radius: 8px;
  text-align: center;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  background-color: #e50914;
}

.player .mobile-qrcode .qrcode {
  width: 187px;
  height: 187px;
  margin-top: -41px;
  border-radius: 8px;
  background-color: #fff;
}

.player .tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -245px;
  bottom: -13px;
  z-index: 1;
  width: 253px;
  height: 132px;
  padding-right: 23px;
  text-align: center;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 2.1rem;
  color: #cbcbcb;
}

.player .tooltip::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../images/common/bg-tooltip.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.player .product {
  width: 1762px;
  margin: 0 auto;
}

.player .product .product-info h4 {
  width: 959px;
}

.player .product .product-info .order-number {
  right: 38px;
  bottom: 28px;
  font-size: 2.7rem;
}

.player .product .product-info .order-number + .button-area {
  right: 38px;
  bottom: 94px;
}

.player .product .product-info .button-area {
  position: absolute;
  right: 38px;
  bottom: 72px;
}

.player .product .product-info .button-area button:not(.icon-button) {
  width: 267px;
}

.player .product .product-info .button-area .ic-favorite {
  margin-left: 2px;
}

.player .keyguide {
  position: absolute;
  right: 86px;
  bottom: 46px;
  margin-right: 0;
  font-family: "Yoon Gothic 700 50", "Yoon Gothic 750", "YoonGothicPro750", "Yoon 윤고딕 750";
}

.player .keyguide .ic-round {
  margin-right: 13px;
  padding: 0 11px;
}

.player .full-player-normal .button-area, .player .full-player-rental .button-area {
  position: absolute;
  right: 80px;
  bottom: 92px;
}

.player .full-player-normal button, .player .full-player-rental button {
  width: 204px;
  height: 150px;
  padding: 0;
  border-radius: 9px;
  box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.43);
}

.player .full-player-normal button:nth-of-type(1), .player .full-player-rental button:nth-of-type(1) {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.43);
  width: 241px;
}

.player .full-player-normal button + button, .player .full-player-rental button + button {
  margin-left: 21px;
}

.player .full-player-normal button i, .player .full-player-rental button i {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.player .full-player-normal button i::before, .player .full-player-rental button i::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.player .full-player-normal button i.ic-detail::before, .player .full-player-rental button i.ic-detail::before {
  width: 62px;
  height: 49px;
  background-image: url("../images/home/ic-player-detail.png");
}

.player .full-player-normal button i.ic-order::before, .player .full-player-rental button i.ic-order::before {
  width: 49px;
  height: 55px;
  background-image: url("../images/home/ic-player-order.png");
}

.player .full-player-normal button i.ic-counseling::before, .player .full-player-rental button i.ic-counseling::before {
  width: 72px;
  height: 57px;
  background-image: url("../images/home/ic-player-counseling.png");
}

.player .full-player-normal .active .focus .ic-detail::before, .player .full-player-rental .active .focus .ic-detail::before {
  background-image: url("../images/home/ic-player-detail-focus.png");
}

/* 상품 상세정보 */
.product-detail .hellomarket-bi {
  padding: 49px 0 0 62px;
  text-align: left;
  background-color: unset;
}

.product-detail .contents {
  height: 100%;
  padding-left: 535px;
  background-color: #14151e;
}

.product-detail .contents .tab-menu {
  padding-top: 60px;
}

.product-detail .contents .tab-contents .product-desc .image {
  width: 1341px;
  margin-bottom: 45px;
}

.product-detail .contents .tab-contents .product-desc .text {
  padding: 0 32px;
  color: #fff;
}

.product-detail .contents .tab-contents .product-desc .text em {
  display: block;
  margin-bottom: 22px;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 3.3rem;
}

.product-detail .contents .tab-contents .product-desc .text p {
  line-height: 1.67;
  font-size: 2.7rem;
}

.product-detail .contents .tab-contents .product-rating {
  width: 100%;
  height: 100%;
}

.product-detail .contents .tab-contents .product-rating .rating-contens {
  padding: 0 94px 0 122px;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header {
  position: relative;
  padding-top: 30px;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: auto;
  bottom: -33px;
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header .rating-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Yoon Gothic 700 70", "Yoon Gothic 770", "YoonGothicPro770", "Yoon 윤고딕 770";
  font-size: 3.3rem;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header .rating-info h3 {
  display: inline-block;
  margin-right: 46px;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header .rating-info .rating-star-wrap {
  display: flex;
  align-items: center;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header .rating-info .rating-star-wrap .rating-star {
  display: block;
  width: 35px;
  height: 34px;
  margin-right: 8px;
  background-image: url("../images/common/ic-ratingstar-full-w.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header .rating-info .rating-star-wrap .rating-star.full {
  background-image: url("../images/common/ic-ratingstar-full.png");
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header .rating-info .rating-star-wrap .rating-star.half {
  background-image: url("../images/common/ic-ratingstar-half.png");
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header .rating-info .rating-star-wrap .rating-star.empty {
  background-image: url("../images/common/ic-ratingstar-none.png");
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header .rating-info .rating-star-wrap .rating-num {
  margin-left: 14px;
  color: #ddd;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .rating-header > p {
  font-family: "Yoon Gothic 700 50", "Yoon Gothic 750", "YoonGothicPro750", "Yoon 윤고딕 750";
  font-size: 2.7rem;
  color: #999;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li {
  position: relative;
  margin-bottom: 62px;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li:first-child {
  padding-top: 81px;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: auto;
  bottom: -30px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info {
  display: flex;
  align-items: center;
  font-size: 2.7rem;
  color: #fff;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .id {
  position: relative;
  margin-right: 63px;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .id::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  left: auto;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 30px;
  background-color: #999;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .rating-star-wrap {
  display: flex;
  align-items: center;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .rating-star-wrap .rating-star {
  display: block;
  width: 35px;
  height: 34px;
  margin-right: 8px;
  background-image: url("../images/common/ic-ratingstar-full-w.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 28px;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .rating-star-wrap .rating-star.full {
  background-image: url("../images/common/ic-ratingstar-full.png");
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .rating-star-wrap .rating-star.half {
  background-image: url("../images/common/ic-ratingstar-half.png");
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .rating-star-wrap .rating-star.empty {
  background-image: url("../images/common/ic-ratingstar-none.png");
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .rating-star-wrap .rating-star.full {
  background-image: url("../images/common/ic-ratingstar-full-w.png");
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .rating-star-wrap .rating-star.half {
  background-image: url("../images/common/ic-ratingstar-half-w.png");
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-info .rating-star-wrap .rating-num {
  margin-left: 15px;
  color: #ddd;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comment-header .comment-date {
  margin-left: auto;
  margin-right: 17px;
  font-size: 2.7rem;
}

.product-detail .contents .tab-contents .product-rating .rating-contens .comment-list li .comments {
  margin-top: 30px;
  line-height: 1.67;
  font-size: 2.7rem;
}

.product-detail .contents .tab-contents .product-rating .empty-contents {
  text-align: center;
  color: #999;
}

.product-detail .contents .tab-contents .product-rating .empty-contents em {
  display: block;
  font-family: "Yoon Gothic 700 50", "Yoon Gothic 750", "YoonGothicPro750", "Yoon 윤고딕 750";
  font-size: 3.8rem;
  margin-bottom: 22px;
}

.product-detail .contents .tab-contents .product-rating .empty-contents p {
  margin-bottom: 206px;
  font-size: 2.7rem;
}

.product-detail .contents .tab-contents .product-spec {
  padding-left: 90px;
}

.product-detail .contents .tab-contents .product-spec .spec-table {
  overflow: hidden;
  width: 1205px;
  border: 3px solid #494949;
  border-radius: 9px;
  background-color: #1c1d27;
}

.product-detail .contents .tab-contents .product-spec .spec-table li {
  display: flex;
  border-bottom: 2px solid #494949;
  font-size: 2.7rem;
  line-height: 1.67;
}

.product-detail .contents .tab-contents .product-spec .spec-table li:last-child {
  border: none;
}

.product-detail .contents .tab-contents .product-spec .spec-table li h4 {
  display: flex;
  align-items: center;
  width: 374px;
  padding: 45px;
}

.product-detail .contents .tab-contents .product-spec .spec-table li p {
  display: flex;
  align-items: center;
  width: 831px;
  padding: 45px;
  border-left: 2px solid #494949;
  background-color: #14151e;
}

.product-detail .contents .scroll {
  position: absolute;
  top: 169px;
  right: 24px;
  width: 9px;
  height: 911px;
  border-radius: calc(9px / 2);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  border-radius: unset;
}

.product-detail .contents .scroll span {
  display: inline-block;
  width: 100%;
  border-radius: calc(9px / 2);
  background-color: rgba(255, 255, 255, 0.83);
}

.product-detail .contents .scroll span {
  border-radius: unset;
}
